
html,
body {
	height: 100%;
	width: 100%;
}

a {
  color: $link-color;
  text-decoration: none;
  outline: 0;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
   	outline: 0;
   	-moz-outline-style: none;
  }
  &::-moz-focus-inner {
  	outline: 0;
  	border: 0;
  }
		.entry-title &:hover {
			text-decoration: none;
		}
  &:focus {
    @include tab-focus;
  }
}

.border {
	background: #fff;
	border-top: 1px solid $brand-light;
	padding-bottom: 60px;
}

//Carousel Styles
//-----------------------

.carousel {
	opacity: 0.4;
	z-index: -1
}
.carousel-fade {
  .carousel-inner {
    * {
    	transform: none !important;
    }
    .item {
    		background-size: cover;
    		backface-visibility: visible;
      opacity: 0;
      transition: opacity .6s ease-in-out;
			}
    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 1;
      z-index: -1;
    }

    .next.left,
    .prev.right {
      opacity: 0;
    }
  }

}

.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
  width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		display: block;
}

.item:nth-child(1) {
 background-image: url('../img/bg-2.jpg');
}

.item:nth-child(2) {
  background-image: url('../img/bg-1.jpg');
}

.item:nth-child(3) {
 background-image: url('../img/bg-3.jpg');
}
